@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

.desktop {
  background: 
    repeating-conic-gradient(#000 0% 25%, transparent 0% 50%) 
      50% / 2px 2px
}

@font-face {
  font-family: 'AppleFont';
  src: url('/font/ChicagoFLF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Default desktop settings */
  --modal-width: 30rem;
  --font-size: 16px;
  --padding: 20px;
}

/* Tablet adjustments */
@media (max-width: 1024px) {
  :root {
    --modal-width: 25rem;
    --font-size: 15px;
    --padding: 16px;
  }
}

/* Mobile adjustments */
@media (max-width: 600px) {
  :root {
    --modal-width: 90vw;
    --font-size: 14px;
    --padding: 12px;
  }
}

/* Apply the variables to styles */
.alert-box {
  width: var(--modal-width);
}

.alert-text {
  font-size: var(--font-size);
  padding: var(--padding);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
.alert-box {
  width: 80vw;
  max-width: 500px; /* Set a max-width to prevent overflow on large screens */
  padding: 2vh;
}

.menu-item {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  padding: 0.5rem;
  z-index: 10;
}

.menu-item:hover .dropdown {
  display: block;
}

.dropdown li {
  list-style: none;
  padding: 0.5rem;
}

.divider {
  border-top: 1px solid #ddd;
  margin-top: 0.5rem;
}





